* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}

.header {
    width: 1280px;
    height: 520px;
    margin: auto;
}

.header img {
    width: 1280px;
    position: absolute;
}

.header nav {
    position: relative;
    top: 150px;
    text-align: center;
}

.header li {
    display: inline;
}

.header a {
    padding: 20px;
    text-decoration: none;
    font-size: 35px;
    color: #363535;
}

.header a:hover {
    color: #000000;
}

.header a img {
    width: 150px;
    top: 15px;
    position: relative;
}

.photo {
    width: 1280px;
    margin: auto;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding: 50px;
}

.images img {
    border: 1px solid #ddd;
    padding: 5px;
    width: 250px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.images img:hover {
    border: 1px solid;
    border-color: transparent;
    padding: 5px;
    width: 250px;
    overflow: hidden;
    -webkit-transform: scale(3);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.1);
}

.about {
    width: 1280px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.contacts {
    width: 1280px;
    margin: auto;
    text-align: center;
}

.content {
    padding-bottom: 200px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
}
